.part1{
    display: flex;
}
.grapart1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imgpart1{
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin-left: 9rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
}
.imgpart2{
    width: 266px;
    height: 266px;
    border-radius: 8%;
}
.grapart2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}