body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
}

.part1{
    display: flex;
}
.grapart1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imgpart1{
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin-left: 9rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
}
.imgpart2{
    width: 266px;
    height: 266px;
    border-radius: 8%;
}
.grapart2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/********************************Navbar*************************************/

.element.style {
    --background-color-hex: #222222;
    --text-color-hex: #A3A3A3;
}
.gf4ex9:hover{
    color:#A3A3A3CC;
}
._gf4ex9{
   
    color:#A3A3A3;;
    text-decoration: none;
margin-left: 20rem;
padding-top: 1rem;
    
}
._gf4ex9of{
   
    color:#A3A3A3;;
    text-decoration: none;    
}
.gftop{
    background-color: #222222;
    width: 100%;
    height: 3.5rem;
}
.logo{
    width: 10rem;
    height: 5rem;
}
h4{
    font-size: 16px;
}
.img-glob{
background-image: url('https://a0.muscache.com/im/pictures/b65bef33-07be-4c55-b613-bb990193e8f6.jpg?im_q=highq&im_w=720');
background-position: bottom;
background-repeat: no-repeat;
background-size: cover;

}
h1{
    font-size: 20px;
}
.butntop{
    margin-left: 10rem;
    padding-bottom: 20rem;
    margin-top: 10rem;
}
.titretop{
    font-size: 3rem;
    font-weight: bolder;
}
.imgpart{
   width: 1100px;
   height: 400px;
   margin-top: 5rem;
   margin-left: 5rem;
   border-radius: 20px;
  
}

.pargpar3{
    background-color: #A3A3A3;
    width: 25rem;
    margin-left: 8rem;
    margin-top: -18rem;
    color: white;
    
}


/*--------------------------------------------*/
.footerfot{
    background-color: rgb(247, 247, 247) !important;
border-top: 1px solid rgb(221, 221, 221) !important;
margin-top: 5rem;
}
._tfslnm {
    color: rgb(34, 34, 34) !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    margin-bottom: 8px !important;
    margin-top: 2rem;
    margin-left: 5rem;
    font-weight: bolder;
}

.ulwon{
    display: block !important;
 margin-left: 2rem;
   list-style: none;
    font-size: 13px;
line-height:  2rem;;
color: #484848;
}
._yuolfv {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-left: -12px !important;
    margin-right: -12px !important;
}
._yuolfv {
    list-style: outside none none !important;
    margin: 0px !important;
        margin-right: 0px;
        margin-left: 0px;
    padding: 0px !important;
    
}
._o06542u{
    text-decoration: none;
    color: #484848;
}